@charset "utf-8";
/* init */
html,body { line-height: 1.4; font-size: 10px; color: #303030; font-family: "Noto Sans CJK KR"; background: #f5f5f5; }

/*====================
    메인 인덱스
====================*/
.title { padding: 120px 0 80px; text-align: center; }
.title span { display: inline-block; font-size: 8rem; font-weight: bold; color: #303030; }
.group { display: table; width: 100%; max-width: 1280px; margin: 0 auto; }
.group .list { display: table-cell; width: 100%; box-sizing: border-box; text-align: center; }
.group .list > li { list-style: none; }
.group .list > li + li { margin-top: 12px; }
.group .list > li a { font-size: 1.8rem; }


/*====================
    공통 디자인
====================*/
h2 { margin: 50px 0 30px; font-size: 3rem; text-align: center; }
h4 { padding: 10px 0 20px; margin: 0; font-size: 1.6rem; }
h4:before { content: ''; display: inline-block; clear: both; }
hr { margin: 40px 0; border-top: 4px dashed #bdbdbd; border-width: 4px 0 0 0; }
em { font-weight: bold; }



/* 공통디자인 */
.wrap { margin: 0 auto; max-width: 1380px; min-width: 1024px; }
.desc { position: relative; padding: 0; font-size: 0; }
.desc:before { content: attr(data-comment); display: inline-block; position: absolute; top: 0; left: 0; padding: 0 5px; color: #fff; background: #777; }
.desc:after { content: ''; display: block; clear: both; }
/*.desc + .desc { margin-top: 5px; }*/
.desc p { font-size: 1.4rem; color: #555; }
.desc p:before { content: ''; display: inline-block; clear: both; }
.desc span { display: inline-block; font-size: 1.4rem; color: #909090; }
.desc pre { display: inline-block; margin: 0; padding: 10px 0 10px 15px; font-size: 1.3rem; color: #555; word-break: break-all; white-space: pre-wrap; }
.desc pre b { display:inline-block; text-indent: -12px; padding-bottom: 8px; font-size: 1.4rem; }
.desc pre span { position: relative; display: inline-block; padding: 15px 30px; margin: 10px 0; background: #fafafa; border: 1px solid #d4d4d4; }
.desc pre span:before { content: attr(data-comment); position: absolute; top: 0; left: 0; padding: 0 8px; line-height: 18px; background: #777; color: #fff; }
.desc img { display: inline-block; max-width: 520px; vertical-align: middle; }
.desc img + pre { display: inline-block; margin-left: 30px; padding: 0 20px; width: calc(100% - 550px); box-sizing: border-box; vertical-align: middle; }

/* 예제박스 */
.ex_box { posItion: relative; font-size: 0; }
.ex_box .ex_code { display: inline-block; width: 50%; font-size: 1.2rem; vertical-align: middle; }
.ex_box .ex_front { display: inline-block; width: 50%; font-size: 1.3rem; color: #555; vertical-align: middle; }
.ex_box .ex_code + .ex_front { width: calc(50% - 20px); margin-left: 20px; }


.ex_code { position: relative; padding: 20px; border: 1px solid #d4d4d4; background: #fafafa; box-sizing: border-box; }
.ex_code:before { content: attr(data-comment); position: absolute; top: 0; left: 0; line-height: 20px; padding: 2px 10px; font-size: 1.2rem; font-weight: bold; background: #777; color: #fff; letter-spacing: -0.5px; }
.ex_code:after {}
.ex_code pre { margin: 0; }

.ex_box .ex_front span { display: inline-block; font-size: 1.4rem; color: #909090; }
.ex_box .ex_front pre { display: inline-block; margin: 0; padding: 10px 0 10px 15px; font-size: 1.4rem; color: #555; word-break: break-all; white-space: pre-wrap; }
.ex_box .ex_front pre b { display: inline-block; text-indent: -12px; padding-bottom: 8px; font-size: 1.4rem; }
.ex_box .ex_front pre sup a { font-size: 1rem; color: tomato; }